/*	=============================================================
	ZAK ROWLING STYLE SHEET
	-------------------------------------------------------------
	=============================================================	*/
	
/*	=============================================================
	BODY ELEMENTS
	=============================================================	*/
	
body {
	font: 22px "Droid Serif", Georgia, Serif;
	font-style: normal;
	text-align: left;
	color: #2d2b29;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body.home {
	color: #c8c7c4;
	background: #2d2b29;
	overflow-x: hidden;
}


/*	=============================================================
	MAIN ELEMENTS
	Most important elements are declared here
	=============================================================	*/

#header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 80px;
	text-align: right;
	background: rgba(255,255,255,0.9);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#header.hidden {
	top: -100px;
}

#header-i {
	position: relative;
	min-height: 10vh;
	padding: 0 22px;
	background: none;
}

#header-i.active {
	min-height: 120vh;
	background: #fff;
}

#page {
	min-height: 90vh;
	width: 55%;
	margin: 0 auto;
	padding: 65px 0 50px 0px;
}

#page .content {
	position: relative;
	z-index: 10;
	text-align: left;
}

#page .content.has_images {
	width: 88%;
}

#footer {
	position: fixed;
	top: -10px;
	right: 7px;
	text-align: center;
	font-size: 0.8em;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#footer.hidden {
	top: -100px;
}



/*	=============================================================	
	HEADER
	-------------------------------------------------------------	*/
	
#header .logo {
	position: relative;
	z-index: 10000;
	float: left;
}
	
#header .logo a:link,
#header .logo a:visited {
	display: block;
	padding: 4px 0 0px 22px;
        font: bold 0.9em "Poppins", Futura, Sans-serif;
        letter-spacing: 3px;
	color: #2d2b29;
	text-decoration: none;
}

#header .logo a:hover {
	text-shadow: rgba(0,0,0,.05) 1px 1px 1px,
	rgba(0,0,0,.04) 2px 2px 1px,
	rgba(0,0,0,.03) 3px 3px 1px,
	rgba(0,0,0,.02) 4px 4px 1px,
	rgba(0,0,0,.01) 5px 5px 1px,
	rgba(0,0,0,.009) 6px 6px 1px,
	rgba(0,0,0,.008) 7px 7px 1px,
	rgba(0,0,0,.007) 8px 8px 1px,
	rgba(0,0,0,.006) 9px 9px 1px,
	rgba(0,0,0,.005) 10px 10px 1px;
        color: #d8a731;
}


/*  Main Menu
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
    
#header_menu {
	position: absolute;
	display: block;
	top: 22px;
	left: 26.3%;
}

#header_menu li {
	float: left;
	margin: 2px 10px 0 0;
}

#header_menu li a:link,
#header_menu li a:visited {
	float: right;
	padding: 4px 10px 2px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 0.7em "Poppins", Arial, Sans-serif;
	color: #989898;
}

#header_menu li a:hover {
	text-shadow: rgba(0,0,0,.1) 1px 1px 1px;
	color: #d8a731;
}

#header_menu li.current_page_item a:link,
#header_menu li.current_page_item a:visited,
#header_menu li.current-page-ancestor a:link,
#header_menu li.current-page-ancestor a:visited,
#header_menu li.current_page_parent a:link,
#header_menu li.current_page_parent a:visited {
	color: #2d2b29;
}

#main_menu {
	clear: both;
	display: none;
	padding-top: 2vh;
	width: 100vw;
	height: 100vh;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#header-i.active #main_menu {
	display: block;
	text-align: center;
	width: 100%;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#main_menu li {
	padding: 0.5vh 0;
}

#main_menu li a:link,
#main_menu li a:visited {
	padding: 0;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 3px;
	color: #787878;
	line-height: 2em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#main_menu li.current_page_item a:link,
#main_menu li.current_page_item a:visited,
#main_menu li.current_page_parent a:link,
#main_menu li.current_page_parent a:visited {
	color: #fff;
}

#header-i.active #main_menu li.current_page_item a:link,
#header-i.active #main_menu li.current_page_item a:visited,
#header-i.active #main_menu li.current_page_parent a:link,
#header-i.active #main_menu li.current_page_parent a:visited {
	color: #565656;
}

#main_menu li.current_page_parent a:link,
#main_menu li.current_page_parent a:visited {
	text-decoration: none;
}

#main_menu li a:hover,
#main_menu li.current_page_item a:hover {
	color: #d8a731;
	border-color: #d8a731;
}



/*	=============================================================	
	PAGE
	-------------------------------------------------------------	*/
	
/*	Defaults
	-------------------------------------------------------------	*/

h1 {
	padding: 16px 0 5px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3em;
	color: #565656;
}

h2 {
	padding: 12px 0 7px 0;
	font-size: 28px;
	color: #2d2b29;
}

h3 {
	padding: 10px 0 5px 0;
	font: 1.35em "Poppins", Arial, Sans-serif;
	letter-spacing: 4px;
	line-height: 1.1em;
	font-weight: bold;
	color: #2d2b29;
	text-transform: uppercase;
}

h3 span {
	font-size: 0.5em;
}

h3 a:link,
h3 a:visited {
	font-weight: bold;
}

h4 {
	padding: 4px 0;
	line-height: 1.2em;
	font-size: 0.8em;
	color: #6d6d6d;
}

h4 span {
	color: #454545;
}

h5 {
	color: #2d2b29;
}

p {
	padding: 14px 0 6px 0;
	line-height: 1.7em;
}

.gold {
	text-decoration: none;
	color: #d8a731;
}

#page a:link,
#page a:visited {
	text-decoration: none;
	color: #2d2b29;
}

#page p a:link,
#page p a:visited {
	border-bottom: 3px #d8a731 solid;
}

#page a:hover,
#page p a:hover {
	color: #d8a731;
}

#page .home_content a:link,
#page .home_content a:visited {
	display: inline-block;
	position: relative;
	margin: 30px 0 0;
	padding: 14px 20px;
	border-radius: 2px;
	border: 0;
	color: #fff;
	background-color: #383634;
	-moz-animation: up-and-down infinite ease 3.5s;
	-webkit-animation: up-and-down infinite ease 3.5s;
	animation: up-and-down infinite ease 3.5s;
}

#page .home_content a::before {
 	content: "";
	position: absolute;
	bottom: -10px;
	left: 20px;
	border-width: 10px 10px 0;
	border-style: solid;
	border-color: #383634 transparent;
	display: block;
	width: 0;
	-webkit-transition: bottom 0.3s ease;
	-moz-transition: bottom 0.3s ease;
	transition: bottom 0.3s ease;
}

#page .home_content a:hover {
	color: #d8a731;
}

#page .home_content a:hover:before {
	bottom: 0px;
}

#page a.gold_link:link,
#page a.gold_link:visited {
	position: relative;
	display: inline-block;
	margin: 10px 0;
	padding: 7px 18px;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px #d8a731 solid;
	border-radius: 2px;
	font: 0.7em "Poppins", Arial, Sans-serif;
	letter-spacing: 3px;
	color: #d8a731;
}

#page a.gold_link:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.2);
}

#page a.gold_link span {
	position: absolute;
	top: -16px;
	left: -1px;
	padding: 0 6px;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: #ffffff;
	background-color: #d8a731;
}

#page ul.list,
#page ol li {
	margin: 8px 0 8px 20px;
	padding: 15px 0;
	list-style-type: disc;
}

#page ul.list li {
	padding: 7px 0;
	line-height: 1.6em;
}

#page ol {
	margin-left: 15px;
}

#page ol li {
	list-style-type: decimal;
	line-height: 1.6em;
}

#page .button,
#page a.button:link,
#page a.button:visited {
	display: block;
	cursor: pointer;
	clear: left;
	float: left;
	margin: 4px 0 22px 0;
	padding: 7px 18px;
	text-decoration: none;
	text-transform: uppercase;
	background: #d8a731;
	border: none;
	border-radius: 3px;
	font: bold 0.8em "Poppins", Arial, Sans-serif;
	letter-spacing: 3px;
	color: #fff;
}

#page .button,
#page a.button:hover {
	color: #d8a731;
	background: #efefef;
}

blockquote {
	background: #f9f9f9;
	border-left: 5px solid #ccc;
	margin: 2em 0;
	padding: 1.5em 3%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

blockquote:before {
	color: #ccc;
	content: "“";
	font: 4em Times, Serif;
	line-height: 0.1em;
	margin-right: 0.15em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
	color: #212121;
}

code {
	font-family: "Courier New", monospace;
	background-color: #f9f9f9;
	padding: 3px 7px;
	border-radius: 3px;
}


/*	Page Styling
	-------------------------------------------------------------	*/
	
h1.page_title {
	padding: 32px 0 16px 0;
}

#page .content.has_images h1.page_title {
	padding-top: 17px;
}


/*	=============================================================
	Homepage
	=============================================================	*/

body.home #page {
	width: 100%;
}

body.home #header {
	background: rgba(45,43,41,0.8);
}

body.home #header .logo a:link,
body.home #header .logo a:visited {
	color: #efefef;
}

body.home #header_menu li.current_page_item a:link,
body.home #header_menu li.current_page_item a:visited {
	color: #fff;
}

body.home canvas {
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0.8;
}

#page .home_content {
	padding: 26vh 20px 16vh 20px;
	width: 46%;
	margin: auto;
}

#page .home_content h1 {
	padding-bottom: 20px;
	font: bold 1.6em "Poppins", Arial, Sans-serif;
	line-height: 1.05em;
	color: #fff;
}

#page .home_content h2 {
	font-weight: normal;
	text-transform: none;
	font-size: 0.9em;
	line-height: 1.6em;
	color: #c8c7c4;
}

#page .home_content strong {
	color: #d8a731;
}

#page .home_content h2 sub {
	display: inline-block
	margin-top: 5px;
	font-style: normal;
}

#page .home_content em {
	text-transform: none;
	letter-spacing: 0px;
	font-size: 0.75em;
}

#page .home_content p {
	position: relative;
	font-size: 0.8em;
}

#page .home_content.clients {
	padding: 0 0 6vh;
	text-align: center;
}

#page .work-client {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 80px;
	margin: 20px 12px 0;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.7
}

#page .work-client:hover {
	opacity: 1;
}

body.home #header,
body.home #footer {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}

#page .home_content h1 {
	color: #fff;
	-moz-animation-name: blur-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: blur-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: blur-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#page .home_content h2 {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}

#page .work {
	text-align: center;
	margin: 0 auto;
	max-width: 1600px;
}

#page .work a:link,
#page .work a:visited {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 82vh;
	margin: 12% 0;
	text-align: left;
	opacity: 1;
	color: #fff;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: left center;
}

#page .work a.mobile-none {
	cursor: not-allowed;
}

#page .work a.mobile-none .devices strong:hover {
	color: #fff;
}

#page .work a span em,
#page .work a span em small {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: 0;
}

#page .work a.animated span em,
#page .work a.animated span small {
	opacity: 1;
	-moz-animation-name: page-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: page-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: page-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#page .work a.animated span small {
	color: #c8c7c4;
	-moz-animation-duration: 1.3s;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
}

#page .work a:first-child {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}

#page .work a:nth-child(even) {
	background-position: right center;
}

#page .work a .devices {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(45,43,41,0.5);
}

#page .work a .devices strong {
	font-size: 2.85em;
	line-height: 1em;
}

#page .work a .devices em strong:hover {
	color: #d8a731;
}

#page .work a .devices em {
	position: absolute;
	top: 55%;
	right: 5%;
	width: 48%;
	line-height: 1.3em;
	text-decoration: none;
	letter-spacing: 3px;
	font: bold 0.85em "Poppins", Arial, Sans-serif;
	text-transform: uppercase;
}

#page .work a:nth-child(even) .devices em {
	left: 5%;
}

#page .work a .devices small {
	display: block;
	padding-top: 3%;
	letter-spacing: 0px;
	opacity: 0.7;
	font: 1.05em "Droid Serif", Georgia, Serif;
	line-height: 1.6em;
	text-transform: none;
}

#page .work a small b {
	position: relative;
	top: -7px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font: 1em "Poppins", Arial, Sans-serif;
	color: #d8a731;
}

#page ul#work-paging {
	position: fixed;
	z-index: 100;
	bottom: 23px;
	right: 23px;
	opacity: 0.5;
	padding-top: 30px;
	background: url('images/icons/arrows.svg') top center no-repeat;
	background-size: 18px;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}

#page ul#work-paging:hover {
	opacity: 1;
}

#page ul#work-paging.hide {
	opacity: 0;
}

#page ul#work-paging li {
	display: block;
	margin-bottom: 8px;
	border-radius: 10px;
	border: 2px #fff solid;
	width: 10px;
	height: 10px;
	list-style-type: none;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
}

#page ul#work-paging li.active {
	background: #fff;
}

#page ul#work-paging li:hover {
	border-color: #d8a731;
}

#page ul#work-paging li.active:hover {
	background: #d8a731;
}

@keyframes page-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
    }
    100% {
        transform: translateY(0);
	opacity: 1;
    }
}

@-webkit-keyframes page-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
    }
    100% {
        transform: translateY(0);
	opacity: 1;
    }
}

@-moz-keyframes page-animate {
    0% {
        -moz-transform: translateY(20px);
	opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
	opacity: 1;
    }
}

@keyframes up-and-down {
    0% {
        transform: translateY(-20px);
    }
    10% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@-webkit-keyframes up-and-down {
    0% {
        -webkit-transform: translateY(-20px);
    }
    10% {
        -webkit-transform: translateY(0px);
    }
    90% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes up-and-down {
    0% {
        -moz-transform: translateY(-20px);
    }
    10% {
        -moz-transform: translateY(0px);
    }
    90% {
        -moz-transform: translateY(0px);
    }
    100% {
        -moz-transform: translateY(-20px);
    }
}

@keyframes blur-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
	filter: blur(5px);
    }
    100% {
        transform: translateY(0);
	opacity: 1;
	filter: blur(0);
    }
}

@-webkit-keyframes blur-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
	-webkit-filter: blur(5px);
    }
    100% {
        transform: translateY(0);
	opacity: 1;
	-webkit-filter: blur(0);
    }
}

@-moz-keyframes blur-animate {
    0% {
        -moz-transform: translateY(20px);
	opacity: 0;
	-moz-filter: blur(5px);
    }
    100% {
        -moz-transform: translateY(0);
	opacity: 1;
	-moz-filter: blur(0);
    }
}

@keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@-webkit-keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@-moz-keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@keyframes rolldown-animate {
    0% {
	top: -100px;
    }
    90% {
	top: -100px;
    }
    100% {
	top: 0;
    }
}

@-webkit-keyframes rolldown-animate {
    0% {
	top: -100px;
    }
    90% {
	top: -100px;
    }
    100% {
	top: 0;
    }
}

@-moz-keyframes rolldown-animate {
    0% {
	top: -100px;
    }
    90% {
	top: -100px;
    }
    100% {
	top: 0;
    }
}

@keyframes scale-animate {
    0% {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
    }
    70% {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
    }
    100% {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
    }
}

@-webkit-keyframes scale-animate {
    0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    50% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    90% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0;
    }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
    }
}

@-moz-keyframes scale-animate {
    0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    50% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    90% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0;
    }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
    }
}

@keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@-webkit-keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@-moz-keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@keyframes zoom-animate-single {
    0% {
	background-position: center 150%;
    }
    100% {
	background-position: center 72%;
    }
}

@-webkit-keyframes zoom-animate-single {
    0% {
	-webkit-transform: scale(1.3);
	background-position: center 200%;
    }
    100% {
	background-position: center 72%;
    }
}

@-moz-keyframes zoom-animate-single {
    0% {
	background-position: center 200%;
    }
    100% {
	background-position: center 72%;
    }
}

/*	=============================================================	
	GALLERY
	-------------------------------------------------------------	*/

#gallery p:not(:first-child),
#gallery blockquote,
#gallery .image_description:not(:first-child),
#gallery img.item,
#page .work_menu,
#contact form {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}
	
#gallery img.item {
	z-index: 10;
	margin-right: 50px;
	width: 100%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#gallery img.item.zoom {
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

#gallery .image_description {
	padding: 12% 8% 5% 8%;
	font-size: 0.9em;
}

#gallery .image_description h3,
#contact h3 {
	-moz-animation-name: blur-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1.5s;
	-webkit-animation-name: blur-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1.5s;
	animation-name: blur-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1.5s;
}

#gallery p strong {
	font-weight: normal;
	color: #2d2b29;
}

#page .qa_box {
	float: left;
	padding-right: 10px;
	width: 30%;
}

#page .work_menu {
	padding: 5% 8% 5% 8%;
	font-size: 0.9em;
}

#page #menu-work-menu {
	padding-top: 20px;
}

#page #menu-work-menu li a {
	display: block;
	float: left;
	width: 49%;
	padding: 12px 0;
	opacity: 0.7;
}

#page #menu-work-menu li a:nth-child(even) {
	float: right;
}

#page #menu-work-menu li.current-menu-item a {
	opacity: 1;
}

#page #menu-work-menu li a:hover {
	opacity: 1;
	color: #d8a731;
}


/*	=============================================================	
	BLOG
	-------------------------------------------------------------	*/
#page .blog,
#page #contact {
	padding: 12% 8% 5% 8%;
	font-size: 0.9em;
}

#page .blog h2 {
	font-size: 1.3em;
	line-height: 1.5em;
}

#page .blog h6 {
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 20px;
	font: 0.8em "Poppins", Arial, Sans-serif;
    	letter-spacing: 3px;
}

#page .blog .comment {
	padding: 2%;
	text-align: center;
	border: 1px #38332d solid
}

#page .blog iframe {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 5s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 5s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 5s;
}

#page .pagination {
	padding: 20px 18px 50px;
	text-decoration: none;
	text-transform: uppercase;
	font: 0.7em "Poppins", Arial, Sans-serif;
	letter-spacing: 3px;
	color: #d8a731;
}

#page .pagination a:link,
#page .pagination a:visited {
	font-weight: bold;
}


/*	=============================================================	
	CONTACT
	-------------------------------------------------------------	*/

#page #contact input,
#page #contact textarea,
#page #contact select {
	box-sizing: border-box;
	margin: 12px 0 20px;
	padding: 3% 4%;
	font: 0.9em "Droid Serif", Georgia, Serif;
	line-height: 1.5em;
	color: #454545;
	border: 0;
	border-radius: 3px;
	background: #efefef;
	outline: none;
	width: 100%;
}

#page #contact textarea {
	height: 170px;
}

#page #contact .button {
	padding: 3% 4%;
	height: auto;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	border: 0;
	border-radius: 3px;
	background-color: #d8a731;
}

#page #contact .button:hover {
	color: #d8a731;
	background: #efefef;
}

#page #contact.subscribe {
	padding: 7% 0;
}

#page #contact.subscribe h2 {
	font-weight: normal;
}

#page #contact.subscribe form {
	padding: 0;
}

#page #mc_embed_signup div.response,
#page #mc_embed_signup div#mce-responses {
	padding: 0;
	margin: 0;
	font-weight: normal;
	width: 100%;
	color: #d8a731;
}

#page #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	display: none !important;
}

#page #mc_embed_signup #mce-success-response {
	color: #fff;
}

#page #contact.subscribe input.button {
	float: left;
	width: auto;
	height: auto;
	margin-top: 0;
	text-indent: 0;
	font: bold 0.8em "Poppins", Arial, Sans-serif;
}



/*	=============================================================	
	PASSWORD FORM
	-------------------------------------------------------------	*/

.password-form {
	display: none;
}

#page #contact.subscribe.password-form {
	display: block;
	padding-top: 0%;
}


/*	=============================================================	
	PAGE FOOTER
	-------------------------------------------------------------	*/

#page_footer {
	clear: both;
}
	
#footer .social {
	clear: both;
	display: inline-block;
	padding: 33px 0 10px 0;
}

#footer .social img {
	float: left;
	padding-right: 8px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  	filter: alpha(opacity=50);
  	-moz-opacity: 0.7;
  	-khtml-opacity: 0.7;
  	opacity: 0.7;
}

#footer .social img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
	
#footer h2 {
	padding: 20px 0 10px;
	color: #787878;
}

#footer h3 {
	color: #cbc3bd;
}

#footer h3 span {
	text-transform: none;
}

#footer h4 {
	clear: both;
}


/*	=============================================================	
	FAKE CHAT
	-------------------------------------------------------------	*/

#page #gallery .options {
	position: fixed;
	padding: 20px 0;
	z-index: 100;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 10px;
	-moz-animation: show-options 1 ease 1s;
	-webkit-animation: show-options 1 ease 1s;
	animation: show-options 1 ease 1s;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page #gallery .options a:link,
#page #gallery .options a:visited {
	margin: 0 4px;
	padding: 15px 20px;
	border: 1px #ababab solid;
	border-radius: 2px;
	font-size: 0.9em;
	color: #312f2d;
	text-decoration: none;
	opacity: 1;
	background: rgba(255,255,255,0.8);
}

#page #gallery .options a:hover {
	opacity: 0.8;
}

#page #gallery .messages {
	width: 80%;
	margin: 0 auto;
	padding: 60px 0 112px 0;
}

#page #gallery .messages p {
	position: relative;
	display: none;
	float: left;
	clear: both;
	padding: 14px 20px;
	margin: 10px 0;
	max-width: 80%;
	font-size: 0.9em;
	line-height: 1.7em;
	color: #312f2d;
	background: #efefef;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

#page #gallery .messages p.question {
	left: 12%;
	max-width: 70%;
}

#page #gallery .messages p.question::before {
	display: block;
	position: absolute;
	top: -24px;
	left: -80px;
	-moz-transform: scale(0.4);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	content: url('images/avatar.png');
}

#page #gallery .messages .message:first-child p {
	-moz-animation: text-pop 1 ease 0.5s;
	-webkit-animation: text-pop 1 ease 0.5s;
	animation: text-pop 1 ease 0.5s;
}

#page #gallery .messages p.loading {
	-moz-animation: text-load infinite ease 0.5s;
	-webkit-animation: text-load infinite ease 0.5s;
	animation: text-load infinite ease 0.5s;
}

#page #gallery .messages .message:first-child p:first-child,
#page #gallery .messages .message.active p:first-child,
#page #gallery .messages .message.asked p {
	display: block;
}

#page #gallery .messages p.response {
	float: right;
	color: #fff;
	background: #d8a731;
	-moz-animation: text-animate 1 ease 0.5s;
	-webkit-animation: text-animate 1 ease 0.5s;
	animation: text-animate 1 ease 0.5s;
}


/*	=============================================================	
	FAKE CHAT (HOMEPAGE)
	-------------------------------------------------------------	*/

body.home #page #gallery .messages p.question {
	left: 0;
	max-width: auto;
	border: 1px #d8a731 solid;
	background-color: transparent;
	-moz-animation: text-pop 1 ease 0.5s;
	-webkit-animation: text-pop 1 ease 0.5s;
	animation: text-pop 1 ease 0.5s;
}

body.home #page #gallery .messages {
	width: 87%;
	padding-top: 20px;
}


/*	=============================================================	
	FAKE CHAT ANIMATIONS
	-------------------------------------------------------------	*/

@-moz-keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }
}
@-webkit-keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }    
}
@keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }   
}


@-moz-keyframes text-animate {
    0% {
        -moz-transform: translateY(30px);
		opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
		opacity: 1;
    }
}
@-webkit-keyframes text-animate {
    0% {
        -webkit-transform: translateY(30px);
		opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
		opacity: 1;
    }
}
@keyframes text-animate {
    0% {
        transform: translate(-60px,50px);
	opacity: 0;
    }
    100% {
        transform: translate(0,0);
	opacity: 1;
    }
}


@-moz-keyframes text-pop {
    0% {
        -moz-transform: scale(0);
		opacity: 0;
    }
    100% {
        -moz-transform: scale(1);
		opacity: 1;
    }
}
@-webkit-keyframes text-pop {
    0% {
        -webkit-transform: scale(0);
		opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
		opacity: 1;
    }
}
@keyframes text-pop {
    0% {
        transform: scale(0);
		opacity: 0;
    }
    100% {
        transform: scale(1);
		opacity: 1;
    }
}


@-moz-keyframes text-load {
    0% {
        -moz-opacity: 1;
    }
    50% {
    	-moz-opacity: 0.8;
    	-moz-box-shadow: inset 0 0 100px #bcbcbc;
    }
    100% {
        -moz-opacity: 1;
    }
}
@-webkit-keyframes text-load {
    0% {
        opacity: 1;
    }
    50% {
    	opacity: 0.8;
    	-webkit-box-shadow: inset 0 0 100px #bcbcbc;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text-load {
    0% {
        opacity: 1;
    }
    50% {
    	opacity: 0.8;
    	box-shadow: inset 0 0 100px #bcbcbc;
    }
    100% {
        opacity: 1;
    }
}
