/*	=============================================================
	MOLTO BENE STYLE SHEET
	-------------------------------------------------------------
	=============================================================	*/
	
/*	=============================================================
	BODY ELEMENTS
	=============================================================	*/
	
body {
	height: 90vh;
	font: 20px "Droid Serif", Georgia, Serif;
	font-style: normal;
	text-align: left;
	color: #c8c7c4;
	background: #2d2b29 no-repeat center center;	
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


/*	=============================================================
	MAIN ELEMENTS
	Most important elements are declared here
	=============================================================	*/

#header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 80px;
	text-align: right;
	background: rgba(45,43,41,0.9);
	border-bottom: 1px #38332d solid;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#header.hidden {
	top: -100px;
}

#header-i {
	position: relative;
	min-height: 10vh;
	padding: 0 22px;
	background: none;
}

#header-i.active {
	min-height: 120vh;
	background: #fff;
}

#page {
	width: 55%;
	margin: 0 auto;
	padding: 65px 0 50px 0px;
}

#page .content {
	position: relative;
	z-index: 10;
	text-align: left;
}

#page .content.has_images {
	width: 88%;
}

#footer {
	position: fixed;
	top: -10px;
	right: 7px;
	text-align: center;
	font-size: 0.8em;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#footer.hidden {
	top: -100px;
}



/*	=============================================================	
	HEADER
	-------------------------------------------------------------	*/
	
#header .logo {
	position: relative;
	z-index: 10000;
	float: left;
}
	
#header .logo a:link,
#header .logo a:visited {
	display: block;
	padding: 6px 0 0px 22px;
        font: bold 0.9em "Poppins", Futura, Sans-serif;
        letter-spacing: 3px;
	color: #c8c7c4;
	text-decoration: none;
}

#header .logo a:hover {
	text-shadow: rgba(0,0,0,.1) 1px 1px 1px,
	rgba(0,0,0,.09) 2px 2px 1px,
	rgba(0,0,0,.08) 3px 3px 1px,
	rgba(0,0,0,.07) 4px 4px 1px,
	rgba(0,0,0,.06) 5px 5px 1px,
	rgba(0,0,0,.05) 6px 6px 1px,
	rgba(0,0,0,.04) 7px 7px 1px,
	rgba(0,0,0,.03) 8px 8px 1px,
	rgba(0,0,0,.02) 9px 9px 1px,
	rgba(0,0,0,.01) 10px 10px 1px;
        color: #d8a731;
}


/*  Main Menu
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
    
#header_menu {
	position: absolute;
	display: block;
	top: 24px;
	left: 250px;
}

#header_menu li {
	float: left;
	margin: 2px 10px 0 0;
}

#header_menu li a:link,
#header_menu li a:visited {
	float: right;
	padding: 4px 10px 2px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 0.7em "Poppins", Arial, Sans-serif;
	color: #c8c7c4;
}

#header_menu li a:hover {
	text-shadow: rgba(0,0,0,.1) 1px 1px 1px;
	color: #d8a731;
}

#header_menu li.current_page_item a:link,
#header_menu li.current_page_item a:visited,
#header_menu li.current-page-ancestor a:link,
#header_menu li.current-page-ancestor a:visited,
#header_menu li.current_page_parent a:link,
#header_menu li.current_page_parent a:visited {
	color: #ffffff;
}

#main_menu {
	clear: both;
	display: none;
	padding-top: 2vh;
	width: 100vw;
	height: 100vh;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#header-i.active #main_menu {
	display: block;
        text-align: center;
        width: 100%;
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#main_menu li {
	padding: 0.5vh 0;
}

#main_menu li a:link,
#main_menu li a:visited {
	padding: 0;
	text-decoration: none;
	letter-spacing: 1px;
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: 3px;
	color: #aaa;
        line-height: 2em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#main_menu li.current_page_item a:link,
#main_menu li.current_page_item a:visited,
#main_menu li.current_page_parent a:link,
#main_menu li.current_page_parent a:visited {
	color: #fff;
}

#header-i.active #main_menu li.current_page_item a:link,
#header-i.active #main_menu li.current_page_item a:visited,
#header-i.active #main_menu li.current_page_parent a:link,
#header-i.active #main_menu li.current_page_parent a:visited {
	color: #565656;
}

#main_menu li.current_page_parent a:link,
#main_menu li.current_page_parent a:visited {
	text-decoration: none;
}

#main_menu li a:hover,
#main_menu li.current_page_item a:hover {
	color: #d8a731;
	border-color: #d8a731;
}



/*	=============================================================	
	PAGE
	-------------------------------------------------------------	*/
	
/*	Defaults
	-------------------------------------------------------------	*/

h1 {
	padding: 16px 0 5px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3em;
	color: #565656;
}

h2 {
	padding: 12px 0 7px 0;
	font-size: 28px;
	color: #fff;
}

h3 {
	padding: 10px 0 5px 0;
	font: 1.3em "Poppins", Arial, Sans-serif;
        letter-spacing: 4px;
	line-height: 1.4em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

h3 span {
	font-size: 0.5em;
}

h3 a:link,
h3 a:visited {
	font-weight: bold;
}

h4 {
	padding: 4px 0;
	line-height: 1.2em;
	font-size: 0.8em;
	color: #6d6d6d;
}

h4 span {
	color: #454545;
}

h5 {
	color: #fff;
}

p {
	padding: 14px 0 6px 0;
	line-height: 1.7em;
}

.gold {
	text-decoration: none;
	color: #d8a731;
}

#page a:link,
#page a:visited {
	text-decoration: none;
	color: #efefef;
}

#page a:hover {
	color: #d8a731;
}

#page p a:link,
#page p a:visited,
#page .home_content a:link,
#page .home_content a:visited {
	border-bottom: 1px #efefef solid;
}

#page p a:hover,
#page .home_content a:hover {
	border-bottom: 1px #d8a731 dotted;
}

#page a.gold_link:link,
#page a.gold_link:visited {
        position: relative;
        display: inline-block;
        margin: 10px 0;
        padding: 7px 18px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px #d8a731 solid;
	border-radius: 2px;
        font: 0.7em "Poppins", Arial, Sans-serif;
        letter-spacing: 3px;
	color: #d8a731;
}

#page a.gold_link:hover {
	color: #fff;
        background-color: rgba(0,0,0,0.2);
}

#page a.gold_link span {
        position: absolute;
        top: -16px;
        left: -1px;
        padding: 0 6px;
        font-size: 0.8em;
        letter-spacing: 1px;
	color: #ffffff;
	background-color: #d8a731;
}

#page .button,
#page a.button:link,
#page a.button:visited {
	display: block;
	cursor: pointer;
	clear: left;
	float: left;
        margin: 4px 0 22px 0;
        padding: 7px 18px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px #d8a731 solid;
        font: 0.8em "Poppins", Arial, Sans-serif;
        letter-spacing: 3px;
	color: #d8a731;
	background: none;
}

#page .button,
#page a.button:hover {
	color: #fff;
}

blockquote {
	background: #f9f9f9;
	border-left: 5px solid #ccc;
	margin: 2em 0;
	padding: 1.5em 3%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

blockquote:before {
	color: #ccc;
	content: "“";
	font: 4em Times, Serif;
	line-height: 0.1em;
	margin-right: 0.15em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
	color: #212121;
}


/*	Page Styling
	-------------------------------------------------------------	*/
	
h1.page_title {
	padding: 32px 0 16px 0;
}

#page .content.has_images h1.page_title {
	padding-top: 17px;
}


/*	=============================================================
	Homepage
	=============================================================	*/

body.home #page {
	width: 100%;
}

#page .home_content {
	padding: 100px 20px 40px 20px;
}

#page .home_content h1 {
	padding-bottom: 20px;
	font: bold 1.3em "Poppins", Arial, Sans-serif;
	line-height: 1.3em;
	color: #fff;
}

#page .home_content h2 {
	font-weight: normal;
	text-transform: none;
	font-size: 0.9em;
	line-height: 1.6em;
	color: #c8c7c4;
}

#page .home_content strong {
	color: #d8a731;
}

#page .home_content h2 sub {
	display: inline-block
	margin-top: 5px;
	font-style: normal;
}

#page .home_content em {
	text-transform: none;
	letter-spacing: 0px;
	font-size: 0.75em;
}

#page .home_content p {
	position: relative;
	font-size: 0.8em;
}

#page .home_content a.button:link,
#page .home_content a.button:visited {
	display: inline-block;
	float: none;
	width: auto;
	font-size: 0.9em;
}

body.home #header {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 5s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 5s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 5s;
}

#page .work a {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	-moz-animation-name: scale-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 5s;
	-webkit-animation-name: scale-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 5s;
	animation-name: scale-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 5s;
}

#page .home_content h1 {
	color: #fff;
	-moz-animation-name: page-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1s;
	-webkit-animation-name: page-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-name: page-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1s;
}

#page .home_content h2 {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}

#page .work a:link,
#page .work a:visited,
#page .work a:hover {
	border: none;
	box-shadow: rgba(0,0,0,.05) 1px 1px 1px,
	rgba(0,0,0,.04) 1px 2px 1px,
	rgba(0,0,0,.03) 1px 3px 1px,
	rgba(0,0,0,.02) 1px 4px 1px,
	rgba(0,0,0,.01) 1px 5px 1px;
}

#page .work a:hover {
	box-shadow: none;
}

#page .work a:link:nth-child(1),
#page .work a:visited:nth-child(1) {
	font-size: 1.3em;
	width: 46vw;
	height: 77vh;
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

#page .work a:link:nth-child(2),
#page .work a:visited:nth-child(2) {
	font-size: 1.3em;
	width: 46vw;
	height: 77vh;
	-moz-animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
}

#page .work a:nth-child(3) {
	-moz-animation-duration: 6s;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
}

#page .work a:nth-child(4) {
	-moz-animation-duration: 7s;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}

#page .work a:nth-child(5) {
	-moz-animation-duration: 8s;
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
}

#page .work a:link:nth-child(6),
#page .work a:visited:nth-child(6) {
	font-size: 0.85em;
	width: 22vw;
	height: 38vh;
	-moz-animation-duration: 9s;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
}

#page .work a:link:nth-child(7),
#page .work a:visited:nth-child(7) {
	font-size: 0.85em;
	width: 22vw;
	height: 38vh;
	-moz-animation-duration: 10s;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}

#page .work a:link:nth-child(8),
#page .work a:visited:nth-child(8) {
	font-size: 0.85em;
	width: 22vw;
	height: 38vh;
	-moz-animation-duration: 11s;
	-webkit-animation-duration: 11s;
	animation-duration: 11s;
}

#page .work a:link:nth-child(9),
#page .work a:visited:nth-child(9) {
	font-size: 0.85em;
	width: 22vw;
	height: 38vh;
	-moz-animation-duration: 12s;
	-webkit-animation-duration: 12s;
	animation-duration: 12s;
}

#page .work a small {
	letter-spacing: 1px;
	opacity: 0.7;
	font: 0.8em "Droid Serif", Georgia, Serif;
	text-transform: none;
}

#page .work a small b {
	position: relative;
	top: -7px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font: 0.6em "Poppins", Arial, Sans-serif;
	color: #d8a731;
}

#page .work a .devices {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#page .work a:hover .devices,
#page .work a:hover .devices.show-mobile,
#page .work a:hover .devices.personal {
	opacity: 1;
	-moz-animation-name: zoom-animate-single;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-webkit-animation-name: zoom-animate-single;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	animation-name: zoom-animate-single;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

#page .work a:hover .devices.mobile {
	-moz-animation-name: zoom-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-webkit-animation-name: zoom-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	animation-name: zoom-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}


#page .work a .devices {
	height: 100%;
	width: 100%;
	background-color: rgba(45,43,41,0.95);
	background-image: url('http://moltobene.co/wp-content/themes/moltobene/images/home/macbook.png');
	background-position: center 72%;
	background-size: auto 30%;
	background-repeat: no-repeat;
}

#page .work a .devices.show-mobile {
	background-image: url('http://moltobene.co/wp-content/themes/moltobene/images/home/iphone.png');
}

#page .work a .devices.mobile {
	background-image: url('http://moltobene.co/wp-content/themes/moltobene/images/home/macbook.png'),
		url('http://moltobene.co/wp-content/themes/moltobene/images/home/iphone.png');
	background-position: 20% 72%, 80% 72%;
}

#page .work a .devices.personal {
	background-image: url('http://moltobene.co/wp-content/themes/moltobene/images/home/mpc.png');
}


#page .work a .devices em {
	display: inline-block;
	padding-top: 18%;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font: bold 1em "Poppins", Arial, Sans-serif;
	text-transform: uppercase;
}

#page .work {
	text-align: center;
}

#page .work a:link,
#page .work a:visited {
	display: inline-block;
	width: 30vw;
	height: 52vh;
	margin: 1%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-size: cover;
	background-position: center center;
}

#page .case-studies {
	text-align: center;
	padding: 0 10%;
}

#page .case-study {
	float: left;
	padding: 22px 0 45px;
	width: 33.3%;
	font-size: 0.8em;
}

#page .case-study {
	text-align: center;
	opacity: 0.7;
}

#page .case-study:hover {
	opacity: 1;
}

#page .case-study h1 a:link,
#page .case-study h1 a:visited {
	color: #fff;
	text-decoration: none;
	font: bold 1em "Poppins", Arial, Sans-serif;
	text-transform: uppercase;
}

#page .case-study h1 a:hover {
	border-bottom: 1px #d8a731 solid;
}

#page .case-study p {
	padding-top: 7px;
}

@keyframes page-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
    }
    100% {
        transform: translateY(0);
	opacity: 1;
    }
}

@-webkit-keyframes page-animate {
    0% {
        transform: translateY(20px);
	opacity: 0;
    }
    100% {
        transform: translateY(0);
	opacity: 1;
    }
}

@-moz-keyframes page-animate {
    0% {
        -moz-transform: translateY(20px);
	opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
	opacity: 1;
    }
}

@keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@-webkit-keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@-moz-keyframes fade-animate {
    0% {
	opacity: 0;
    }
    50% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@keyframes scale-animate {
    0% {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
    }
    70% {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
    }
    100% {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
    }
}

@-webkit-keyframes scale-animate {
    0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    50% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    90% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0;
    }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
    }
}

@-moz-keyframes scale-animate {
    0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    50% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
    }
    90% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0;
    }
    100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
    }
}

@keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@-webkit-keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@-moz-keyframes zoom-animate {
    0% {
	background-position: -100% 72%, 200% 72%;
    }
    100% {
	background-position: 20% 72%, 80% 72%;
    }
}

@keyframes zoom-animate-single {
    0% {
	background-position: center 150%;
    }
    100% {
	background-position: center 72%;
    }
}

@-webkit-keyframes zoom-animate-single {
    0% {
	-webkit-transform: scale(1.3);
	background-position: center 200%;
    }
    100% {
	background-position: center 72%;
    }
}

@-moz-keyframes zoom-animate-single {
    0% {
	background-position: center 200%;
    }
    100% {
	background-position: center 72%;
    }
}

/*	=============================================================	
	GALLERY
	-------------------------------------------------------------	*/

#gallery p:not(:first-child),
#gallery .image_description:not(:first-child),
#gallery img.item,
#page .work_menu,
#contact form {
	-moz-animation-name: fade-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 3s;
	-webkit-animation-name: fade-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 3s;
	animation-name: fade-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 3s;
}
	
#gallery img.item {
	z-index: 10;
	margin-right: 50px;
	width: 100%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#gallery img.item.zoom {
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

#gallery .image_description {
	padding: 12% 8% 5% 8%;
	font-size: 0.9em;
}

#gallery .image_description h3,
#contact h3 {
	-moz-animation-name: page-animate;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 1.5s;
	-webkit-animation-name: page-animate;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1.5s;
	animation-name: page-animate;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1.5s;
}

#gallery p strong {
	font-weight: normal;
	color: #fff;
}

#page .qa_box {
	float: left;
	padding-right: 10px;
	width: 30%;
}

#page .work_menu {
	padding: 5% 10% 5% 10%;
	font-size: 0.9em;
}

#page #menu-work-menu {
	padding-top: 20px;
}

#page #menu-work-menu li a {
	display: block;
	float: left;
	width: 49%;
	padding: 12px 0;
	opacity: 0.7;
}

#page #menu-work-menu li a:nth-child(even) {
	float: right;
}

#page #menu-work-menu li.current-menu-item a {
	opacity: 1;
}

#page #menu-work-menu li a:hover {
	opacity: 1;
	color: #d8a731;
}


/*	=============================================================	
	BLOG
	-------------------------------------------------------------	*/
#page #blog,
#page #contact {
	padding: 12% 8% 5% 8%;
	font-size: 0.9em;
}

#page #blog h2 {
	font-size: 1.3em;
}

#page #blog h6 {
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 20px;
	font: 0.8em "Poppins", Arial, Sans-serif;
    	letter-spacing: 3px;
    	color: #d8a731;
}

#page #blog .comment {
	padding: 2%;
	text-align: center;
	border: 1px #38332d solid
}

#page #blog iframe {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
}

#page .pagination {
	padding: 20px 18px 50px;
	text-decoration: none;
	text-transform: uppercase;
	font: 0.7em "Poppins", Arial, Sans-serif;
	letter-spacing: 3px;
	color: #d8a731;
}


/*	=============================================================	
	CONTACT
	-------------------------------------------------------------	*/

#page #contact input,
#page #contact textarea,
#page #contact select {
	box-sizing: border-box;
	margin: 12px 0 20px;
	padding: 3% 4%;
	font: 0.9em "Droid Serif", Georgia, Serif;
	line-height: 1.5em;
	color: #454545;
	border: 0;
	border-radius: 3px;
	background: #efefef;
	outline: none;
	width: 100%;
}

#page #contact textarea {
	height: 170px;
}

#page #contact .button {
	padding: 3% 4%;
	height: auto;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	border: 0;
	border-radius: 3px;
	background-color: #d8a731;
}

#page #contact .button:hover {
	color: #d8a731;
	background: #fff;
}

#page #contact.subscribe {
	padding: 7% 0;
}

#page #contact.subscribe h2 {
	font-weight: normal;
}

#page #contact.subscribe form {
	padding: 0;
}

#page #mc_embed_signup div.response,
#page #mc_embed_signup div#mce-responses {
	padding: 0;
	margin: 0;
	font-weight: normal;
	width: 100%;
	color: #d8a731;
}

#page #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	display: none !important;
}

#page #mc_embed_signup #mce-success-response {
	color: #fff;
}

#page #contact.subscribe input.button {
	float: left;
	width: auto;
	height: auto;
	margin-top: 0;
	text-indent: 0;
	font: bold 0.8em "Poppins", Arial, Sans-serif;
}


/*	=============================================================	
	FAKE CHAT
	-------------------------------------------------------------	*/

#page #gallery .options {
	position: fixed;
	padding: 20px 0;
	z-index: 100;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 10px;
	-moz-animation: show-options 1 ease 1s;
	-webkit-animation: show-options 1 ease 1s;
	animation: show-options 1 ease 1s;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page #gallery .options a:link,
#page #gallery .options a:visited {
	margin: 0 4px;
	padding: 15px 20px;
	border: 1px #d8a731 solid;
	border-radius: 2px;
	font-size: 0.9em;
	color: #d8a731;
	text-decoration: none;
	background: rgba(45,43,41,0.7);
}

#page #gallery .options a:hover {
	color: #fff;
	border-color: #fff;
}

#page #gallery .messages {
	width: 80%;
	margin: 0 auto;
	padding: 60px 0 112px 0;
}

#page #gallery .messages p {
	position: relative;
	display: none;
	float: left;
	clear: both;
	padding: 14px 20px;
	margin: 10px 0;
	max-width: 80%;
	font-size: 0.9em;
	line-height: 1.7em;
	color: #fff;
	background: #312f2d;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

#page #gallery .messages p.question {
	left: 12%;
	max-width: 70%;
}

#page #gallery .messages p.question::before {
	display: block;
	position: absolute;
	top: -24px;
	left: -80px;
	-moz-transform: scale(0.4);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	content: url('http://moltobene.co/wp-content/themes/moltobene/images/avatar.png');
}

#page #gallery .messages .message:first-child p {
	-moz-animation: text-pop 1 ease 0.5s;
	-webkit-animation: text-pop 1 ease 0.5s;
	animation: text-pop 1 ease 0.5s;
}

#page #gallery .messages p.loading {
	-moz-animation: text-load infinite ease 0.5s;
	-webkit-animation: text-load infinite ease 0.5s;
	animation: text-load infinite ease 0.5s;
}

#page #gallery .messages .message:first-child p:first-child,
#page #gallery .messages .message.active p:first-child,
#page #gallery .messages .message.asked p {
	display: block;
}

#page #gallery .messages p.response {
	float: right;
	color: #fff;
	background: #d8a731;
	-moz-animation: text-animate 1 ease 0.5s;
	-webkit-animation: text-animate 1 ease 0.5s;
	animation: text-animate 1 ease 0.5s;
}


/*	=============================================================	
	FAKE CHAT ANIMATIONS
	-------------------------------------------------------------	*/

@-moz-keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }
}
@-webkit-keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }    
}
@keyframes show-options {
    0% {
        bottom: -100px;
    }
    50% {
        bottom: -100px;
    }
    100% {
        bottom: 10px;
    }   
}


@-moz-keyframes text-animate {
    0% {
        -moz-transform: translateY(30px);
		opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
		opacity: 1;
    }
}
@-webkit-keyframes text-animate {
    0% {
        -webkit-transform: translateY(30px);
		opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
		opacity: 1;
    }
}
@keyframes text-animate {
    0% {
        transform: translate(-60px,50px);
	opacity: 0;
    }
    100% {
        transform: translate(0,0);
	opacity: 1;
    }
}


@-moz-keyframes text-pop {
    0% {
        -moz-transform: scale(0);
		opacity: 0;
    }
    100% {
        -moz-transform: scale(1);
		opacity: 1;
    }
}
@-webkit-keyframes text-pop {
    0% {
        -webkit-transform: scale(0);
		opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
		opacity: 1;
    }
}
@keyframes text-pop {
    0% {
        transform: scale(0);
		opacity: 0;
    }
    100% {
        transform: scale(1);
		opacity: 1;
    }
}


@-moz-keyframes text-load {
    0% {
        -moz-opacity: 1;
    }
    50% {
    	-moz-opacity: 0.8;
    	-moz-box-shadow: inset 0 0 100px #3d3b39;
    }
    100% {
        -moz-opacity: 1;
    }
}
@-webkit-keyframes text-load {
    0% {
        opacity: 1;
    }
    50% {
    	opacity: 0.8;
    	-webkit-box-shadow: inset 0 0 100px #3d3b39;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text-load {
    0% {
        opacity: 1;
    }
    50% {
    	opacity: 0.8;
    	box-shadow: inset 0 0 100px #3d3b39;
    }
    100% {
        opacity: 1;
    }
}


/*	=============================================================	
	PAGE FOOTER
	-------------------------------------------------------------	*/

#page_footer {
	clear: both;
}
	
#footer .social {
	clear: both;
	display: inline-block;
	padding: 35px 0 10px 0;
}

#footer .social img {
	float: left;
	padding-right: 8px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  	filter: alpha(opacity=50);
  	-moz-opacity: 0.5;
  	-khtml-opacity: 0.5;
  	opacity: 0.5;
}

#footer .social img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
	
#footer h2 {
	padding: 20px 0 10px;
	color: #787878;
}

#footer h3 {
	color: #cbc3bd;
}

#footer h3 span {
	text-transform: none;
}

#footer h4 {
	clear: both;
}
